.container {
  padding: 0px 40px 0px 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  min-height: 80px;
  .logo {
    height: 100px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
  .links {
    display: flex;
    gap: 100px;
    font-size: 30px;
    .active {
      font-size: 37px;
      font-weight: bold;
    }
    .link {
      position: relative;
      color: black;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        scale: 1.2;
      }
    }
    .burger {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .container {
    .links {
      .link {
        display: none;
      }
      .burger {
        scale: 1.5;
        display: flex;
      }
    }
  }
}
