.wrapper {
  margin: 100px 50px 0 50px;
  .head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-items: center;

    .image {
      border: 7px solid rgb(199, 198, 198);
      border-radius: 20px;
    }
    .title {
      text-align: center;
      font-size: 100px;
    }
  }
  .info {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    .description {
      color: gray;
      font-size: 40px;
      margin-bottom: 70px;
    }
  }
  .episodes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .description {
      color: gray;
      font-size: 40px;
      margin-bottom: 70px;
    }
  }
}
@media (max-width: 1100px) {
  .wrapper {
    .head {
      gap: 50px;
      .title {
        font-size: 70px;
      }
    }
    .info {
      flex-direction: column;
      gap: 30px;
      .description {
        font-size: 70px;
      }
    }
  }
}
@media (max-width: 800px) {
  .wrapper {
    .head {
      flex-direction: column;
      .title {
        font-size: 100px;
      }
    }
    .info {
      gap: 20px;
      .description {
        font-size: 50px;
      }
    }
  }
}
@media (max-width: 500px) {
  .wrapper {
    .head {
      .image {
        width: 300px;
        height: 300px;
      }
      .title {
        font-size: 50px;
      }
      .info {
        gap: 10px;
        .description {
          font-size: 30px;
        }
      }
    }
  }
}
